/* v2\frontend\src\pages\Modal\EventDetail\EventModal.css */
.event-modal {
  position: fixed;
  z-index: 9001;
  background-color: var(--dark-grey-a85);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-self: center;
}

.event-div {

}
