/* src/pages/Modal/Modal.css */
.modal-background {
  width: 100%;
  height: 100vh;
  background-color: var(--dark-grey-a85);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  width: 60vw;
  height: 80vh;
  background-color: var(--light-red);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 10px 1px;
}
.button-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}
.modal-button {
  background-color: var(--red);
  width: 120px;
  height: 30px;
}
