/* src/components/NavStatus/NavStatus.css */
.nav-div {
  height: 30px;
  min-width: 100%;
  background-color: var(--grey);
  color: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
