/* src/pages/Login/Login.css */
.login {
  width: 100%;
  height: 100vh;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 60vw;
  height: 80vh;
  z-index: 100;
  background-color: var(--light-red);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}
.modal-button {
  background-color: var(--red);
  width: 120px;
  height: 30px;
}
