/* src/pages/Profile/Profile.css */
.profile-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profile-form,
.fake-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-text {
  display: flex;
  align-items: center;
  background-color: linen;
  width: 173px;
  height: 18px;
  font-family: sans-serif;
  font-size: 0.78em;
}

.profile-name-text {
  padding-left: 2px;
  /* color: var(--grey); */
  background-color: var(--light-red);
}

.name-div {
  display: flex;
  gap: 5px;
}

.names {
  width: 85px;
}
