.main-dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
}

.dash-text {
  padding: 20px;
}

.dash-emphasis {
  font-weight: 900;
}

.text-bigger {
  font-size: 2em;
}
